<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <%= link_to "Edit User Info", edit_user_path(current_user) %>
</p>
<div class="container">
  <% if @user.reviews.any? %>
    <h3>Reviews (<%= @user.reviews.count %>)</h3>
    <ol class="reviews">
      <%= render @reviews %>
    </ol>
    <%= will_paginate @reviews %>
  <% end %>
</div>
